/* Navigation */
nav {
  /* position: sticky; */
  width: 100%;
  overflow-x: scroll;
  top: 0;
}

.ul-left {
  display: none;
}


.ul-right {
  min-width: 250px;
  display: flex;
  padding: 0;
  margin-top: auto;
  padding-right: 5px;
}

.ul-right li {
  font-weight: 600;
  padding: 10px 0;
}

/* Main page */
.main {
  height: 95vh;
}

#main-header {
  line-height: 45rem;
  font-size: 3rem;
}

/* Cards */
.cards {
  height: 90vh;
}

.card-header {
  text-align: center;
  margin-top: 6vh;
}

.card-header h2 {
  font-size: 3rem;
}

.card-header h3 {
  font-size: 1rem;
  padding: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: auto;
  margin-top: 1vh;
  /* justify-content: center; */
}

.card-container h4 {
  /* justify-self: space-between; */
  /* align-self: space-between; */
  font-size: 1rem;
  margin: auto;
  padding: 5px;
  width: 100px;
  border-bottom: 3px rgba(155, 100, 86, 0.3) solid;
}

.card-container img {
  height: 100px;
  width: 100px;
  border: 2.5px rgba(155, 100, 86, 0.3) solid;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card1,
.card2,
.card3,
.card4 {
  width: 150px;
  margin: 15px;
  padding: 20px;
}

.caption {
  display: none;
}

/* Contact */
.contact {
  height: 95vh;
  flex-direction: column;
}

.contact-form {
  width: 100%;
  padding: 15px;
  font-size: 2rem;
  margin-top: 5px;
}

#flex-form {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}


input,
textarea {
  padding: 10px;
  margin-left: 0;
  margin-top: 7px;
  flex: 0 0 50px;
}


/* Button */
#submit-btn {
  width: 100%;
  margin-top: 0;
}


#map {
  height: 70%;
  width: 90%;
  border: 5px rgba(155, 100, 86, 0.6) solid;
  align-self: center;
  justify-self: center;
  margin-bottom: 70px;
}