@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* General style */
:root {
  --text-color: #9B6456;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

/* Navigation bar */
nav {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.ul-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.ul-left li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px 50px;
}

.ul-left li:hover {
  background-color: var(--text-color);
}

.ul-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ul-right li {
  list-style: none;
  font-weight: 600;
  padding: 20px 10px;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-right: 20px;
}

.nav-right a:hover {
  color: #9B6456;
}

/* Main page */
.main {
  background: url("../img/background-image.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
}

#main-header {
  color: white;
  line-height: 50rem;
  font-size: 10rem;
}

/* Cards */
.cards {
  height: 98vh;
  background: #fff;
}

.card-header {
  text-align: center;
  margin-top: 12vh;
}

.card-header h2 {
  font-size: 5rem;
}

.card-header h3 {
  font-size: 1rem;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
}

.card-container h4 {
  font-size: 2rem;
  /* text-align: center; */
  margin-top: 5px;
  padding: 10px;
  width: 260px;
  border-bottom: 5px rgba(155, 100, 86, 0.3) solid;
}

.card-container img {
  height: 250px;
  width: 250px;
  border: 5px rgba(155, 100, 86, 0.3) solid;
  border-radius: 50%;
}

.card1,
.card2,
.card3,
.card4 {
  width: 250px;
}

.caption {
  padding: 20px;
  display: block;
}

/* Contact */
.contact {
  background: #333 url("../img/contact-background.jpg") no-repeat center center/cover;
  /* filter: brightness(70%); */
  height: 70vh;
  display: flex;
}

.contact-form {
  /* background: white; */
  width: 50%;
  height: 100%;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 20px;
}

#flex-form {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}


input,
textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
}

input:hover,
textarea:hover {
  border: 1px solid var(--text-color);
}

/* Button */
#submit-btn {
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 10px;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: var(--text-color);
}


#map {
  height: 70%;
  width: 30%;
  margin: auto;
  border: 10px rgba(155, 100, 86, 0.6) solid;
}


/* Footer */
footer {
  background: #000;
  color: #fff;
  text-align: center;
}